{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="container">
            <div id="container-left">
                <img src="{% static 'resume/foto.jpg'  %}" width="250px" height="200px">
                <div class="text-main">
                    <h2>ABOUT ME:</h2>
                    <p>_______________________________</p>
                    <h4>
                      Ще в школі мені дуже подобалось вивчати язик програмування JavaScript. У світ
                      It-технологій мене увів мій брат, який і навчив мене багатьом речам.
                      Розповів що і як працює і показав роботу JavaScript. Потім я вийшов на власне
                      вивчення цього язика. Я прочитав багато тем і виконав багато завдань, але ще не встиг
                      вивчити його досконало. Так розпочався мій старт в FrontEnd розробці
                    </h4>
                    <p>_______________________________</p>
                    <h2>Additional Information</h2>
                    <h4>
                      <p>Інностранні мови: Англійська</p>
                      <p>Наявність водійських прав: Немає</p>
                      <p>Служба в армії: Немає</p>
                      <p>Рекоменданії: Немає</p>
                      <p>Особисті заняття у вільний час: Вивчення мов програмування, </br> відпочинок, зайняття спортом, баскетболом і футболом</a></p>              
                      <p>Особисті якості:  <a>відсутність шкідливих привичок, відповідальність, </br> активність, зосередженість</a></p>
                    </h4>
                </div> 
            </div>
            <div id="container-right">
                <div>
                    <div class="right-main">
                        <h1>CHMYR ROMA</h1>
                        <h3>Front end developer & Web Designer</h3>
                        <div class="right-style">
                            <img src="{% static 'resume/pochta.png' %}" width="30px" height="30px">
                            <div class="email">
                                <h3>roma822747@gmail.com</h3>
                                <h3>chmyrroma.2002@gmail.com</h3>
                            </div>
                            <img src="{% static 'resume/phone.png' %}" width="30px" height="30px" class="img-phone">
                            <div class="cell-numbers">
                                <h3>+380 95 093 4229</h3>
                                <h3>+380 66 095 9920</h3>
                            </div>
                        </div>
                        <div class="metka-style">
                            <img src="{% static 'resume/metka.png' %}" width="35px" height="35px">
                            <div>
                                <h3>Ukraine, Cherkassy city, chehova street, 713</h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="education">
                            <img src="{% static 'resume/education.png' %}" width="40px">
                            <h2>EDUCATION</h2>
                        </div>
                        <p><b>___________________________________________________________________________________________________________</b></p>
                        <div>
                            <div class="body-right">
                                <h2>2009-2020</h2>
                                <div class="houseEducation">
                                    <h3>KRASNOSILLYA SCHOOL</h3>
                                </div>
                            </div>
                            <div class="body-right">
                                <h2>2020-2025</h2>
                                <div class="houseEducation">
                                    <h3>CHERKASY STATE TECHNOLOGICAL UNIVERSITY</h3>
                                </div>
                            </div>
                        </div>
                        <p><b>___________________________________________________________________________________________________________</b></p>
                        <div>
                          <h2>Programming languages</h2>
                            <div class="programing-state">
                                <div>
                                  <h3>
                                    <p>JavaScript</p>
                                    <img src="{% static 'resume/js.svg' %}" width="30px" height="30px" />
                                  </h3>
                                </div>
                                <div>
                                  <h3>
                                    <p>React</p>
                                    <img src="{% static 'resume/react.png' %}" width="30px" height="30px" />
                                  </h3>
                                </div>
                                <div>
                                  <h3>
                                    <p>TypeScript</p>
                                    <img src="{% static 'resume/typescript.png' %}" width="30px" height="30px" />
                                  </h3>
                                </div>
                              </div>
                        <p><b>___________________________________________________________________________________________________________</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
